
header{
    width: 100%;
    background: rgba(245, 222, 179, 0.584);
}
#navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 28px 8%;
}
#nav_logo{
    color: #1d1d1d;
    font-size: 20px;
}
#nav_logo span{
    color: red;
    font-size: 30px;
}
#nav_list{
    display: flex;
    gap: 20px;
    list-style: none;
}
.nav-item{
    text-decoration: none;
    display: inline-block;
    transition: transform 0.2s linear;
}
.nav-item:hover{
    transform: scale(1.1);
}
.nav-item a {
    color: red;
    font-size: 12px;
    position: relative;
    padding: 0.25rem;
}
i{color: red;}
.nav-item a::before{
    content: '';
    position: absolute;
   transition: 0.2s ease;
    height: 2px;
    width: 100%;
    bottom: 0;
    border-bottom: 2px solid rgb(160, 2, 2);
    transform-origin: (left);
    transform:scaleY(0);
    transition: transform 0.2s linear;
}
.nav-item a:hover::before{
    transform-origin: (right);
    transform: scaleY(1);
    transform: translateY(1);
    transition: transform 0.2s ease;  
}