form{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 5% auto 0 auto;
    padding: 20px;
    border-radius: 10px;
}
input{
    margin-bottom: 10px;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.cadastrar{
    background: rgb(155, 105, 19);
    color: white;
}
.cadastrar:hover{
    background: rgb(86, 63, 24);
}
input::placeholder{
    transition: transform 0.2s;
}
input:focus{
    outline: none;
}
input:focus::placeholder{
   transform: translate(-5px,-8px);
   
}